.navbar{
    background-color: rgb(160, 211, 211);
    height: 50px;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

.logo{
    display:inline;
    a{
        color:rgb(9, 10, 10);
        margin-top: 1em;
        margin-bottom: 1em;
        text-decoration: none;
        line-height:50px;
        font-size: 24px;
    }
    .fa-music{
        color:rgb(9, 10, 10);
        margin-right: 1em;
    }
}
.menu{
    float:right;
    li{
        float:left;
    }
        a{
        display:flex;
        margin-right: 30px;
        color:rgb(9, 10, 10);
        text-decoration: none;
        line-height:50px;
        padding: 0 1em;
    }
    a:hover{
        background-color:  rgb(9, 10, 10);
        color:#333
    }
}